.card {
  margin-left: 58px;
  margin-right: 58px;
  padding: 10px;
  width: 329px;
  height: 352px;
  box-shadow: 1px 0 5px black; 
  background: linear-gradient(to top, #1a46b4, #31a5ac 50%);
  color: white;
  border: 1px solid #40D9E2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container-card{
  background: linear-gradient(to top,#0a0122 ,#143896 100%);
  height: 500px;
  padding-top: 100px;
}

.card-title {
    font-size: 20px;
    color: white;
    font-weight: 100;
}
  
.card-content {
    font-size: 20px;
    color: white;
}

.btn-card{
  background-color: #143896;
  color: white;
  padding: 15px 15px;
  border-radius: 15px;
  font-size: 14px;
  border: 1px solid #143896;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 50px;
}

.btn-plus{
  background-color: #143896;
    color: white;
    padding: 10px;
    border-radius: 100px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid #143896;
    cursor: pointer;
}

.card-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}